.title {
    font-size: 2.5rem;
    font-weight: bold;
    background: linear-gradient(to right, rgb(181, 48, 233), rgb(241, 14, 44));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    margin-bottom: 5px;
}
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.search-container {
  display: flex;
  align-items: center;
}
.search-input {
display: inline-block ;
  width: 300px;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 10px;
}
.search-button {
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  border-radius: 10px;
  background-color: #931cb1;
  color: #fff;
  cursor: pointer;
}
.search-input:focus {
  outline: none;
  border-color: #ff80ff;
  box-shadow: 0 0 0 0.2rem rgba(214, 6, 214, 0.25);
}
.subtitle {
  font-size: 1.3rem;
  font-weight: bold;
  color: #706d6d;
}
.product-grid {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;	
  

}
.product-card {
  transition: transform 0.3s ease-in-out;
  margin: 20px;
  flex: 0 0 200px;

  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  
}
.item img {
  
  
  border-radius: 10px;
}
.product-card h3 {
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 10px;
}
.product-card:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}
